.form-check-input{
    opacity: 0;
}

.form-check,.chapitre{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #dddddd; 
    transition: 0.3s;
}

.checked{
    border: 3px solid #759aff; 
}

$primary:#759aff;
@import "../vendor/twbs/bootstrap/scss/bootstrap.scss"; 